<div class="text-center">
    <h3>Aluno Adicionado com Sucesso!</h3>

    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
    </div>
</div>