<div class="text-center">
    <h2>Conteúdos Admnistrados</h2> <br />
    <p>*Asp Net</p>
    <p>*Mocagem de Dados</p>
    <p>Conexão com Banco SQL</p>
    <p>Chamada de API Externa</p>
    <p>Entity Framework</p>
</div>