<div class="text-center">
    <h3>Informações Sobre o Curso:</h3> <br />
    <p>Início: 19/07/2021</p>
    <p>Término: 01/07/2022</p>
    <p>Coordenador: Junior Cunha</p>
    <p>Instituição: Senac Brusque</p>
    <p>Endereço: Rod. Antônio Heil 191 (Centro II), Brusque, SC, 88352-500</p>
    <p>Telefone: (47) 3351-2626</p>
</div>